
.footer {
    background-size: cover;
    color: white;
    padding: 20px 0;
    text-align: center;
    height: 220px;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/african.png');
    background-size: cover;
  }

  .footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1px;
  }

  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .footer-links li {
    margin: 0 15px;
  }

  .footer-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
  }

  .footer-links a:hover {
    color: #3498db;
  }

  .social-icons {
    margin-top: 20px;
  }

  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
  }

  .social-icons a:hover {
    color: #3498db;
  }

  #copy, #credito{
    margin-top: 15px;
    font-size: .7em;
  }

  #credito-site{
    font-size: .8em;
    outline: none;
    text-decoration: none;
    color: white;
    transition: .2s;
  }

  #credito-site:hover{
    color: aqua;
  }


