body{
    display: flex;
    flex-direction: column;
    background-image: url('/img/passaro.jpg');
    background-size: cover;
    backdrop-filter: blur(4px);
}

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.login h2{
    text-align: center;
    margin-bottom: 25px;
    font-size: 2.2em;
    color: white;
}

.login div {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
}

.login div p{
    margin-top: 10px;
}


.login div p, .login div a{
    color: white;
    font-size: .8em;
    text-decoration: none;
}

.login div input{
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 2px solid #444;
}

.dados-login::placeholder{
    padding-left: 20px;
    font-weight: bold;
}

.botao-entrar{
    height: 40px;
    margin-top: 15px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    transition: .15s;
}

.botao-entrar:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}