html, body {
    margin: 0;
    padding: 0;
  }
 

body{
    display: flex;
    flex-direction: column;
    background-image: url('/img/pal-alazao.jpg');
    background-size: contain;
    backdrop-filter: blur(12px);
    width: 100vw;
    

}

.projetos, .protecao-ambiental, .nossa-area, .matrizes-3d{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projetos{
    margin-bottom: 100px;
}

.projetos{
    margin-top: 130px;
}
  
.content{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.titulo{
    font-size: 70px;
    color: #fff;
    text-shadow: 
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.container{
    position: relative;
    width: 430px;
    height: 550px;
    background-color: #ffffff18;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.img-content{
    width: 400px;
    height: 280px;
    background-size: cover;
    border-radius: 15px;
    margin:15px;
    box-shadow: 10px 10px 20px rgb(32, 32, 32);
}

#img1{
    background-image: url('/img/quilombo-ia.jpg');

}
#img2{
    background-image: url('/img/campoverde-ia.jpg');
}

.container p{
    color: white;
    text-align: justify;
    padding: 15px;
}

.tituloseg{
    margin-top: 150px;
    font-size: 30px;
    color: #fff;
    text-shadow: 
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.container h3{
    color: white;
    text-align: center;
    width: 100%;
}

#img3{
    background-image: url('/img/homem-campoverde-ia.jpg');

}
#img4{
    background-image: url('/img/turismo-ia.jpg');
}

.container-nossa_area, .container-matrizes_3d{
    width: 960px;
}

.mapa{
    width: 95%;
    height: 95%;
    border: none;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgb(32, 32, 32);
    align-items: center;
    margin: 2.5%;
}

.container-matrizes_3d{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container-matrizes_3d div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;

}


.arvore-3d{
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgb(32, 32, 32);
}

.qr-code{
    width: 200px;
    height: 200px;
    background-image: url('/img/qr-code.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50%;

}



.exibe1, .exibe2, .exibe3, .exibe4, .exibe5, .exibe6, .exibe7, .exibe8, .exibe9, .exibe10{
    visibility: hidden;
}
