body{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-image: url('/img/pal-alazao_blur.jpg');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    background-color: black;
}

.projetos, .titulo, .protecao-ambiental, .nossa-area{
    width: 100%;
}

.titulo h1, .tituloseg{
    text-align: center;
    color: #fff;
    text-shadow: 
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}


.content{
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    background-color: #ffffff18;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.container h3{
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.container p{
    color: white;
    text-align: justify;
    padding: 25px;
    height: 50%;
}

.img-content{
    background-size: cover;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgb(32, 32, 32);
    margin-top: 9px;
}


#img1{
    background-image: url('/img/quilombo-ia.jpg');

}
#img2{
    background-image: url('/img/campoverde-ia.jpg');
}
#img3{
    background-image: url('/img/homem-campoverde-ia.jpg');

}
#img4{
    background-image: url('/img/turismo-ia.jpg');
}

.mapa{
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(32, 32, 32);
}

.arvore-3d{
    border-radius: 20PX;
    box-shadow: 10px 10px 20px rgb(32, 32, 32);
    margin-left: 20PX;
}

.qr-code{
    width: 200px;
    height: 200px;
    background-image: url('/img/qr-code.png');
    background-size: cover;
}



@media (max-width: 2560px) {
    .titulo h1{
        font-size: 60px;
        margin-top: 10%;
    }
    .content{
        display: flex;
        flex-direction: row;
    }

    .container{
        position: relative;
        width: 430px;
        height: 550px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .img-content{
        width: 95%;
        height: 280px;
    }
    .tituloseg_protecao-ambiental, .tituloseg_nossa-area{
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .mapa{
        width: 95%;
        height: 95%;
    }

    .container-nossa_area, .container-matrizes_3d{
        width: 960px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-matrizes_3d{
        flex-direction: row;
    }
    
    .container-matrizes_3d div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width: 856px) {
    .container p{
        font-size: .85em;
    }
    .container-matrizes_3d{
        flex-direction: column;
    }
}


@media (max-width: 768px) {
    .container p{
        font-size: 1em;
    }

    .titulo h1{
        font-size: 30px;
        margin-top: 20%;
    }
    .content{
        display: flex;
        flex-direction: column;

    }
    .tituloseg{
        margin-top: 20px;
        font-size: 20px;
    }
    .container{
        position: relative;
        height: 600px;
        width: 60%;
    }

    .img-content{
        width: 94%;
        height: 250px;
    }

}

@media (max-width: 500px){
    .container{
        position: relative;
        width: 90%;
        }
}